<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Ticket ID</th>
        <th>Event Name</th>
        <th>Ticket Price</th>
      </tr>
    </thead>
    <tbody *ngFor="let ticket of tickets">
      <tr>
        <td>{{ ticket.ticketId }}</td>
        <td>{{ ticket.eventName }}</td>
        <td>{{ ticket.ticketPrice }}</td>
      </tr>
    </tbody>
  </table>

    <div class="ticket-status">
    <div class="status-box">
      <span>Available Tickets:</span>
      <p>{{ ticketsData.available }}</p>
    </div>
    <div class="status-box">
      <span>Sold Tickets:</span>
      <p>{{ ticketsData.sold }}</p>
    </div>
    <div class="status-box">
      <span>Due Tickets:</span>
      <p>{{ ticketsData.due }}</p>
    </div>  


    <div class="button-group">
      <button class="btn btn-start" (click)="fetchTickets()">Start</button>
  <!--     <button class="btn btn-stop" (click)="">Stop</button> -->
    </div> 
</div>


